#weatherDashboard {
      background: #2462d4;
      background: -moz-linear-gradient(left,  #2462d4 0%, #24075b 100%);
      background: -webkit-linear-gradient(left,  #2462d4 0%,#24075b 100%);
      background: linear-gradient(to right,  #2462d4 0%,#24075b 100%);
      filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#2462d4', endColorstr='#24075b',GradientType=1 );
      padding: .4rem 0px;      
}
html {
      font-size: 10px;
    }
#searchLabel{
      font-size: 2rem;
}

.historyButton{
      background: #aeaeae;
      font-weight: 600;
      margin: .4rem 0;
}

#currentWeatherCard{
      border: .1rem solid black;
}
.currentWeather{
      font-size: 1.2rem;
      font-weight: 600;
      padding: .4rem 0;
}
    
@media screen and (min-width: 360px) {
      html {
        font-size: 12px;
      }
}
@media screen and (min-width: 480px) {
      html {
        font-size: 14px;
      }
    }
@media screen and (min-width: 768px){
      html {
        font-size: 16px;
      }
    }
@media screen and (min-width: 1366px) {
      
}